/*Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,200&family=Poppins:ital,wght@0,300;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p {
    font-style: italic;
    padding-left: 5px;
}


.grid-container {
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr 1fr 10fr 1fr;
}
.nav_section{
    grid-area: nav;
    background-color: aquamarine;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: white;
}

.mini_head{
    display: flex;
    align-items: center;
    padding: 10px;
}
.mini_head > h1 {
    padding-left: 10px;
}
.menu {
    display: flex;
    justify-content: space-between;
}

.items {
    display: flex;
}


main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
/*
.aside-bar {
    background-color: antiquewhite;
    min-height: 40vh;
    padding: 25px;
}
.aside-bar .items {
    display: flex;
}

.aside-bar ul {
    list-style: none;
    padding-left: 0px;
}*/

.perfume_grilla {
    background-color: rgb(208, 206, 206);
    display: flex;
}

.perfume_grilla .card .grid-items{
    display: flex;
    flex-direction: column;
}

.perfume_grilla .card {
    text-align: center;
    padding: 20px;
    width: 200px;
}

.main_section > .perfume_grilla > .card img {
    width: 150px;
    height: 150px;
    padding-top: 20px;
    
    filter: grayscale(1);
    transition: all 2s;
    animation: blurimage_start 2s;
}

.main_section > .perfume_grilla > .card > .una_imagen{
    background-color: white;
    padding: 0%;
    overflow: hidden;
}

.main_section .perfume_grilla .card img:hover{
    filter: grayscale(0);
    transform: scale(1.5);
}
.main_section .perfume_grilla .card button{
    width: 90px;
    height: 35px;
    background-color: yellowgreen;
    color: white;
    border: none;
    border-radius: 5px;
    animation: cambiar_ancho 2s linear infinite;
}

.main_section .perfume_grilla .card button:hover{
    cursor: pointer;
    animation-play-state: paused;
}


.ropa_grilla {
    background-color: rgb(208, 206, 206);
    display: flex;
}

.ropa_grilla .card .grid-items{
    display: flex;
}

.ropa_grilla .card {
    text-align: center;
    padding: 20px;
    width: 200px;
}
.main_section > .ropa_grilla > .card img {
    width: 150px;
    height: 150px;
    padding-top: 20px;
    
    filter: grayscale(1);
    transition: all 2s;
    animation: blurimage_start 2s;
}

.main_section > .ropa_grilla > .card > .una_imagen{
    background-color: white;
    padding: 0%;
    overflow: hidden;
}

.main_section .ropa_grilla .card img:hover{
    filter: grayscale(0);
    transform: scale(1.5);
}
.main_section .ropa_grilla .card button{
    width: 90px;
    height: 35px;
    background-color: yellowgreen;
    color: white;
    border: none;
    border-radius: 5px;
    animation: cambiar_ancho 2s linear infinite;
}

.main_section .ropa_grilla .card button:hover{
    cursor: pointer;
    animation-play-state: paused;
}

.accesorios_grilla {
    background-color: rgb(208, 206, 206);
    display: flex;
}

.accesorios_grilla .card .grid-items{
    display: flex;
}

.accesorios_grilla .card {
    text-align: center;
    padding: 20px;
    width: 200px;
}

.main_section > .accesorios_grilla > .card img {
    width: 150px;
    height: 150px;
    padding-top: 20px;
    
    filter: grayscale(1);
    transition: all 2s;
    animation: blurimage_start 2s;
}

.main_section > .accesorios_grilla > .card > .una_imagen{
    background-color: white;
    padding: 0%;
    overflow: hidden;
}

.main_section .accesorios_grilla .card img:hover{
    filter: grayscale(0);
    transform: scale(1.5);
}
.main_section .accesorios_grilla .card button{
    width: 90px;
    height: 35px;
    background-color: yellowgreen;
    color: white;
    border: none;
    border-radius: 5px;
    animation: cambiar_ancho 2s linear infinite;
}

.main_section .accesorios_grilla .card button:hover{
    cursor: pointer;
    animation-play-state: paused;
}


.zapatos_grilla {
    background-color: rgb(208, 206, 206);
    display: flex;
}

.zapatos_grilla .card .grid-items{
    display: flex;
}

.zapatos_grilla .card {
    text-align: center;
    padding: 20px;
    width: 200px;
}

.main_section > .zapatos_grilla > .card img {
    width: 150px;
    height: 150px;
    padding-top: 20px;
    
    filter: grayscale(1);
    transition: all 2s;
    animation: blurimage_start 2s;
}

.main_section > .zapatos_grilla > .card > .una_imagen{
    background-color: white;
    padding: 0%;
    overflow: hidden;
}

.main_section .zapatos_grilla .card img:hover{
    filter: grayscale(0);
    transform: scale(1.5);
}
.main_section .zapatos_grilla .card button{
    width: 90px;
    height: 35px;
    background-color: yellowgreen;
    color: white;
    border: none;
    border-radius: 5px;
    animation: cambiar_ancho 2s linear infinite;
}

.main_section .zapatos_grilla .card button:hover{
    cursor: pointer;
    animation-play-state: paused;
}






.footer_section{
    grid-area: footer;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: black;
}
.footer_section > .logo{
    width: 25px;
}

@keyframes blurimage_start{
    from{
        filter: blur(3px);
    }
    to{
        filter: blur(10px);
    }
}
@keyframes cambiar_ancho {
    from{
        width: 90px;
    }
    to{
        width: 180px;
    }   
}

@media (min-width: 576px){
    .nav_section{
        background-color: brown;
    }
    .container{
        grid-template-areas:
            "nav main"
            "nav main"
            "footer"
        ;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 60px 1fr 60px;
    }
    .main_section{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nav_section{
        flex-direction: column;
        justify-content: start;
        gap: 35px;
        padding: 15px;
    }
    .nav_section > ul{
        list-style: none;
        display: block;
    }
    .nav_section >  .menu{
        display: none;
    }
    .nav_section > .mini_head{
        display: none;
    }
    .nav_section > .otro_head{
        display: block;
    }
}